html,
body {
    height: 100%;
}

.container-fluid {
    height: 85%;
}

#map,
.row_map {
    height: 100%;
}

.row_btn {
    margin-top: 1%;
    padding-left: 30%;
    padding-right: 30%;
}

.alert {
    position: fixed;
    text-align: center;
    top: 0%;
    width: 100%;
    z-index: 999999;
}
