doctype html
html
    head
        title= "HORUS"
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")
        link(rel="stylesheet", href="/stylesheets/dashboard.css")
        link(rel="stylesheet", href="/stylesheets/magnific_popup.css")
    body
        nav(class="nav-extended")
            div(class="nav-wrapper blue darken-2")
                a(class="brand-logo center", href="/") HORUS


        div(v-if="seen", class='row', id="row_map")
            input(id="pac-input", class="controls", type="text", placeholder="Buscar")
            div(id="map")

        div(v-if="seen", class="fixed-action-btn", id="btn-float")
            a(class="btn-floating btn-large red")
                i(class="large material-icons") mode_edit
            ul
                li
                    a(class="btn-floating deep-purple darken-2", v-on:click='add_rectangle')
                        i(class="material-icons") format_shapes
                li
                    a(class="btn-floating pink darken-2", v-on:click='add_circle')
                        i(class="material-icons") filter_tilt_shift
                li
                    a(class="btn-floating lime darken-2", v-on:click='remove_area')
                        i(class="material-icons") delete
                li
                    a(class="btn-floating teal darken-2", id="mission_type", href="javascript:void(0);", v-on:click='save_params')
                        i(class="material-icons") description


        div(class="modal", id="modal_params_vigilance")
            div(class="modal-content")
                div(class="row")
                    form(class="col s12", action="/mision", method="post")
                        div(class="row")
                            div(class="input-field col s6")
                                input(id="name_vigilance", type="text", class="validate", name="nombre_mision", class="validate", required="", aria-required="true")
                                label(for="name_vigilance") Nombre de la misión
                            div(class="input-field col s6")
                                input(id="desc_vigilance", type="text", class="validate", name="descripcion_mision", class="validate", required="", aria-required="true")
                                label(for="desc_vigilance") Descripción de la misión
                        div(class="row")
                            div(class="input-field col s6")
                                select(name="tipo_mision", required="", aria-required="true")
                                    option(value="", disabled, selected)
                                    option(value="2") Vigilancia
                                label Tipo de misión
                            div(class="col s6")
                                label Altura de vuelo (metros)
                                p(class="range-field")
                                    input(type="range", min="1", max="20", value="10", name="altura_vuelo")
                                    input(type="hidden", name="radio", id="radio", value="")
                                    input(type="hidden", name="centro_lat", id="centro_lat", value="")
                                    input(type="hidden", name="centro_lng", id="centro_lng", value="")
                        div(class="row")
                            div(class="input-field col s12 center")
                                button(class="btn waves-effect waves-light", type="submit", name="action") Continuar

        div(class="modal", id="modal_params_mon_search")
            div(class="modal-content")
                div(class="row")
                    form(class="col s12", action="/mision", method="post")
                        div(class="row")
                            div(class="input-field col s6")
                                input(id="name_mon_search", type="text", class="validate", name="nombre_mision", class="validate", required="", aria-required="true")
                                label(for="name_mon_search") Nombre de la misión
                            div(class="input-field col s6")
                                input(id="desc_mon_search", type="text", class="validate", name="descripcion_mision", class="validate", required="", aria-required="true")
                                label(for="desc_mon_search") Descripción de la misión
                        div(class="row")
                            div(class="input-field col s6")
                                select(name="tipo_mision", required="", aria-required="true")
                                    option(value="", disabled, selected)
                                    option(value="0") Monitorización
                                    option(value="1") Búsqueda de personas
                                label Tipo de misión
                            div(class="input-field col s6")
                                select(name="numero_drones", required="", aria-required="true")
                                    option(value="", disabled, selected)
                                    option(value="1") 1
                                    option(value="2") 2
                                label Número de drones
                        div(class="row")
                            div(class="col s6")
                                label Solapamiento de imágenes (%)
                                p(class="range-field")
                                    input(type="range", min="0", max="100", value="0", name="solapamiento_img")
                            div(class="col s6")
                                label Altura de vuelo (metros)
                                p(class="range-field")
                                    input(type="range", min="1", max="20", value="10", name="altura_vuelo")
                                    input(type="hidden", name="norte_este_lat", id="norte_este_lat", value="")
                                    input(type="hidden", name="norte_este_lng", id="norte_este_lng", value="")
                                    input(type="hidden", name="sur_oeste_lat", id="sur_oeste_lat", value="")
                                    input(type="hidden", name="sur_oeste_lng", id="sur_oeste_lng", value="")
                        div(class="row")
                            div(class="input-field col s12 center")
                                button(class="btn waves-effect waves-light", type="submit", name="action") Continuar

        div(v-if="seen", class="preloader-wrapper big active", id="load")
            div(class="spinner-layer spinner-blue")
                div(class="circle-clipper left")
                    div(class="circle")
                div(class="gap-patch")
                    div(class="circle")
                div(class="circle-clipper right")
                    div(class="circle")
            div(class="spinner-layer spinner-red")
                div(class="circle-clipper left")
                    div(class="circle")
                div(class="gap-patch")
                    div(class="circle")
                div(class="circle-clipper right")
                    div(class="circle")
            div(class="spinner-layer spinner-yellow")
                div(class="circle-clipper left")
                    div(class="circle")
                div(class="gap-patch")
                    div(class="circle")
                div(class="circle-clipper right")
                    div(class="circle")
            div(class="spinner-layer spinner-green")
                div(class="circle-clipper left")
                    div(class="circle")
                div(class="gap-patch")
                    div(class="circle")
                div(class="circle-clipper right")
                    div(class="circle")


        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js",
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js",
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
        script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
        script(src="/javascripts/dashboard.js")
        script(src="/javascripts/magnific_popup.js")
        script(src="/javascripts/google_maps_dashboard.js")
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?" +
        "key=AIzaSyD70tPAmyyOvL1GnSQY8y3w8SU2CY8ZP9Q&libraries=places&callback=initAutocomplete")
