doctype html
html
    head
        title= "HORUS"
        meta(name="viewport", content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="https://fonts.googleapis.com/icon?family=Material+Icons")
        link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/css/materialize.min.css")
        link(rel="stylesheet", href="/stylesheets/mission.css")
        link(rel="stylesheet", href="/stylesheets/magnific_popup.css")
    body
        nav(class="nav-extended")
            div(class="nav-wrapper blue darken-2")
                a(class="brand-logo center", href="/") HORUS
                a(class="sidenav-trigger show-on-large", data-target="mobile-demo", href="#")
                    i(class="material-icons") menu

            ul(class="sidenav", id="mobile-demo")
                li
                    a(href="/historial") Historial

        div(class='row')
            div(id="map")

        div(class="fixed-action-btn")
            a(class="btn-floating btn-large modal-trigger red", id="btn-stop", href="#alert_end")
                i(class="large material-icons") stop

        div(class="modal", id="alert_end")
            div(class="modal-content")
                h4 ¿Finalizar misión?
                p Se finalizará la misión y los cuadricópteros volverán a la estación base.
            div(class="modal-footer")
                a(href="/", class="modal-action modal-close waves-effect waves-green btn-flat") Finalizar misión
                a(class="modal-action modal-close waves-effect waves-green btn-flat") Cancelar

        script(src="https://code.jquery.com/jquery-3.2.1.slim.min.js",
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js",
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q", crossorigin="anonymous")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0-beta/js/materialize.min.js")
        script(src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js")
        script(src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.1.0/socket.io.js")
        script(src="https://unpkg.com/sweetalert/dist/sweetalert.min.js")
        script(src="/javascripts/magnific_popup.js")
        script(src="/javascripts/mission.js")
        script(src="/javascripts/google_maps_mission.js")
        script(async, defer, src="https://maps.googleapis.com/maps/api/js?" +
        "key=AIzaSyD70tPAmyyOvL1GnSQY8y3w8SU2CY8ZP9Q&callback=mission_map")
